<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductVersion="2.1.320.9006" ?>
  <?define UpgradeCode="{1E264B8C-00A4-4A27-BE16-5DC05A577C93}"?>
  <?define Manufacturer="Innersense"?>
  <?define ProductCode="{5F95FEF9-08A4-4BDA-9345-9141AAD56A98}"?>
  <?define PackageCode="{????????-????-????-????-????????????}"?>
  <?define MinProductVersion="0.0.0.0" ?>
  <Product Id="*" UpgradeCode="$(var.UpgradeCode)" Name="Correctionary" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)">
    <!--/*_______________________________________________________________________________________________*/-->
    <Package Description="Correctionary Installation" Comments="Correctionary $(var.ProductVersion)" InstallerVersion="200" Compressed="yes" />
    <!-- This will force re-installation for all items-->
    <Property Id="REINSTALLMODE" Value="amus" />
    <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />
    <!--/*_______________________________________________________________________________________________*/-->
    <!-- Prevent downgrading -->
    <!--<MajorUpgrade  Schedule="afterInstallInitialize"
                   DowngradeErrorMessage="A newer version of Correctionary is already installed. Setup will now exit."
                   AllowDowngrades="no"/>-->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="1.0.0" IncludeMinimum="yes" OnlyDetect="no" Maximum="$(var.ProductVersion)" IncludeMaximum="no" Language="1033" Property="OLDERVERSIONFOUND" />
      <UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="yes" Language="1033" OnlyDetect="yes" Property="SELFFOUND" />
      <UpgradeVersion Minimum="$(var.ProductVersion)" IncludeMinimum="no" Language="1033" OnlyDetect="yes" Property="NEWERFOUND" />
    </Upgrade>
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWERFOUND</Custom>
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWERFOUND</Custom>
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>
    <!--/*_______________________________________________________________________________________________*/-->
    <!--/*Set Icon in add / remove programs*/-->
    <Property Id="ARPPRODUCTICON" Value="CorrectionaryIcon" />
    <!--/*_______________________________________________________________________________________________*/-->
    <!--/*Define UI*/-->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Resources\License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources\Logo_Innersense.bmp" />
    <!--<WixVariable Id="WixUIDialogBmp" Value="Resources\Wafer_SideBanner.bmp" />-->
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <!--/*_______________________________________________________________________________________________*/-->
    <!--/*File structure*/-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="APPLICATIONROOTDIRECTORY" Name="Innersense">
          <Directory Id="CorrectionaryFOLDER" Name="Correctionary">
            <!--The components for this folder are referenced in the "ReleaseFile" file generated by "Heat.exe"-->
            <Component Id="NI_Files_Common" Guid="*" DiskId="1">
              <File Id="NI_Common" Name="NationalInstruments.Common.dll" Assembly=".net" KeyPath="yes" Source="C:\Program Files (x86)\National Instruments\MeasurementStudioVS2012\DotNET\Assemblies\Current\NationalInstruments.Common.dll" />
            </Component>
            <Component Id="NI_Files_UI" Guid="*" DiskId="1">
              <File Id="NI_UI" Name="NationalInstruments.UI.dll" Assembly=".net" KeyPath="yes" Source="C:\Program Files (x86)\National Instruments\MeasurementStudioVS2012\DotNET\Assemblies\Current\NationalInstruments.UI.dll" />
            </Component>
            <Component Id="NI_Files_WindowsForms" Guid="*" DiskId="1">
              <File Id="NI_WindowsForms" Name="NationalInstruments.UI.WindowsForms.dll" Assembly=".net" KeyPath="yes" Source="C:\Program Files (x86)\National Instruments\MeasurementStudioVS2012\DotNET\Assemblies\Current\NationalInstruments.UI.WindowsForms.dll" />
            </Component>
            <Component Id="NI_Files_Analysis_Professional" Guid="*" DiskId="1">
              <File Id="NI_Analysis_Professional" Name="NationalInstruments.Analysis.Professional.dll" Assembly=".net" KeyPath="yes" Source="C:\Program Files (x86)\National Instruments\MeasurementStudioVS2012\DotNET\Assemblies\Current\NationalInstruments.Analysis.Professional.dll" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="ApplicationShortcutDesktop" Guid="{A072CB7F-5598-4d1c-85E3-C119659B1B19}">
          <Shortcut Id="ApplicationDesktopShortcut" Name="Correctionary" Description="Correctionary $(var.ProductVersion)" Target="[CorrectionaryFOLDER]\Correctionary.exe" WorkingDirectory="CorrectionaryFOLDER" Icon="CorrectionaryIcon" />
          <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software/[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="Innersense">
          <Directory Id="ProgramMenuAppDir" Name="Correctionary">
            <Component Id="ApplicationShortcutStartMenu" Guid="{B8EC95F8-71AD-43CD-A88A-A2C948AEA2AD}">
              <Shortcut Id="ApplicationStartMenuShortcut" Name="Correctionary" Description="Correctionary $(var.ProductVersion)" Target="[CorrectionaryFOLDER]\Correctionary.exe" WorkingDirectory="CorrectionaryFOLDER" Icon="CorrectionaryIcon" />
              <RemoveFolder Id="RemoveProgramMenuAppDir" Directory="ProgramMenuAppDir" On="uninstall" />
              <RemoveFolder Id="RemoveProgramMenuDir" Directory="ProgramMenuDir" On="uninstall" />
              <RegistryValue Root="HKCU" Key="Software/[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <!--/*Define fetures*/-->
    <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentRef Id="ApplicationShortcutStartMenu" />
      <ComponentRef Id="NI_Files_Common" />
      <ComponentRef Id="NI_Files_UI" />
      <ComponentRef Id="NI_Files_WindowsForms" />
      <ComponentRef Id="NI_Files_Analysis_Professional" />
      <!--The Correctionary is taken from the file generated by "Heat.exe" (pre build event)-->
      <ComponentGroupRef Id="CorrectionaryInstallationFiles" />
    </Feature>
    <UI />
    <!--/*_______________________________________________________________________________________________*/-->
    <Icon Id="CorrectionaryIcon" SourceFile="..\Correctionary\Resorces\dictionary.ico" />
  </Product>
</Wix>